@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');


/*---------------------------------------------------General Formating ------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    overflow: hidden; /* Disable scroll bar */
}

a {
    text-decoration: none;
}

a:hover {
   text-decoration: none; 
}


/*----------------------------------------------------Header/Nav Bar------------------------------------------*/

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    color: white;
}


.logo {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 20px;
}


.score-board {
    width: 33%;
    height: 100%;
    margin: 0 auto;
}

.home-button {
    width: 33%;
    height: 100%;
    float: right;
}

/* Logo */

.logo-icon {
    height: 100%;
    float: left;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    color: green;
    font-size: 60px;
}

.logo:hover .logo-icon {
    color: rgb(0,200,0);
}

.logo-text {
    height: 100%;
    margin: 0;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-family: "Baloo Bhaina 2", sans-serif;
}

@media only screen and (max-width: 650px) {
    .logo-text {
        display: none;
    }
}

.logo h1 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.logo span {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

/* Score Board */
.score-board table {
    height: 100px;
    width: 100%;
    table-layout: fixed;
    margin: auto;
}

.score-board h2 {
    width: 100%;
    font-size: max(1.5rem, 18px);
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
}

.score-board h5 {
    width: 100%;
    font-size: max(1rem, 16px);
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

/* Exit/Home button */
.home-button-icon {
    height: 100%;
    float: right;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    color: green;
    font-size: 60px;
}

.home-button-icon:hover {
    color: rgb(0,200,0);
}


/*-------------------------------------------------------------------Hero Image----------------------------*/

.hero-image {
  background-image: url("../images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*-------------------------------------------------------------------Game Container Setup----------------------------*/
.game-container {
    margin: auto;
    top: 100px;
    position: relative;
}


.square {
    position: relative;
    margin: auto;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 2.5%;
    width: 95%;
    height: 95%;
}


/*------------------------------------------------------------ Home Page / Game Mode Selection -----------------------------*/

.introduction {
    display: flex;
    width: 100%;
    height: 80%;
    padding: 5%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    background-color: lightgreen;
}

.introduction h3 {
    text-align: center;
    margin: auto;
}

.button {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 500;
    display: flex;
    width: 40%;
    height: 10%;
    margin: 5%;
    border: solid 1px green;
    border-radius: 20px;
    background-color: green;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.button:hover {
    box-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

.button h4 {
    text-align: center;
    margin: auto;
    color: #eee;
}


/*------------------------------------------------------------ Second Page / Number of Cards Selection -----------------------------*/

.difficulty1 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 500;
    display: flex;
    width: 30%;
    height: 30%;
    margin: 10%;
    border: solid 1px rgb(0,200,0);
    border-radius: 50%;
    background-color: rgb(0,200,0);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.difficulty1:hover {
    box-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

.difficulty2 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 500;
    display: flex;
    width: 30%;
    height: 30%;
    margin: 10%;
    border: solid 1px rgb(0,150,0);
    border-radius: 50%;
    background-color: rgb(0,150,0);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.difficulty2:hover {
    box-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

.difficulty3 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 500;
    display: flex;
    width: 30%;
    height: 30%;
    margin: 10%;
    border: solid 1px rgb(0,100,0);
    border-radius: 50%;
    background-color: rgb(0,100,0);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.difficulty3:hover {
    box-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

.difficulty4 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 500;
    display: flex;
    width: 30%;
    height: 30%;
    margin: 10%;
    border: solid 1px rgb(0,50,0);
    border-radius: 50%;
    background-color: rgb(0,50,0);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.difficulty4:hover {
    box-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

.difficulty1 h2, .difficulty2 h2, .difficulty3 h2, .difficulty4 h2 {
    text-align: center;
    margin: auto;
    color: #eee;
}

/*------------------------------------------------------------ Game Over Page -----------------------------*/

.gameOver {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 5%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    background-color: lightgreen;
    text-align: center;
    justify-content: space-evenly;
}

.newGame {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 500;
    display: flex;
    width: 40%;
    height: 10%;
    margin: auto;
    border: solid 1px green;
    border-radius: 20px;
    background-color: green;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.newGame:hover {
    box-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

.newGame h4 {
    text-align: center;
    margin: auto;
    color: #eee;
}

