* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #eee;
    height: 100vh;
}
.square {
    position: relative;
    margin: auto;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
}

